language: python
python:
  - "3.5"
  - "3.6"
env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
# command to install dependencies
install: make setup
# # command to run tests
script:
 - make coverage

after_script:
 - make flake

after_success:
  - python -c "from coveralls.cli import main; print main();"
